.gallery-container{
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .gallery{
    display: flex;
    gap: 30px;
    margin-inline: 10px;
    max-width: max-content;

    .image-component{
      transition: margin-top 0.5s, filter 0.5s, opacity 0.5s;

      &:hover{
        margin-top: 20px;
      }

      > img{
        height: clamp(9.375rem, 5.4688rem + 12.5vw, 12.5rem);
        aspect-ratio: 1.5 / 1;
        object-fit: cover;
        filter: grayscale(50%);
      }
    }
  }

  &:has(.image-component:hover) &:not(:hover){
    filter: blur(5px) grayscale(100%);
    opacity: 0.8;
  }
}